<div class="navbar-container">
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    data-overlay
    data-sticky="top"
  >
    <div class="container">
      <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="/">
        <img alt="aitako" width="130px" height="50px"
        src="{{"/assets/img/logos/jumpstart.svg" || relative_url}}">
      </a>
      <div class="d-flex align-items-center order-lg-3">
        <a
          href="#"
          class="btn btn-primary ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3"
          >Contact us</a
        >
        <button
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-target=".navbar-collapse"
          data-toggle="collapse"
          type="button"
        >
          <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon
          icon-sm" src="{{"/assets/img/icons/interface/icon-menu.svg" |
          relative_url }}"> <img alt="Navbar Toggler Close Icon"
          class="navbar-toggler-close icon icon-sm"
          src="{{"/assets/img/icons/interface/icon-x.svg" | relative_url }}">
        </button>
      </div>
      <div
        class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end"
        id="navigation-menu"
      >
        {% include navigation.html navigation = site.data.navigation %}
      </div>
    </div>
  </nav>
</div>
