---
layout: default
---

<div data-overlay class="bg-primary-3 jarallax text-white" data-jarallax data-speed="0.2">
  <img src="assets/img/heros/hero-3.jpg" alt="Background" class="jarallax-img opacity-30">
  <section class="pb-0">
    <div class="container pb-5">
      <div class="row justify-content-center text-center">
        <div class="col-xl-8 col-lg-10 col-md-11">
          <!-- <a data-fancybox href="https://vimeo.com/166034462#t=32s" class="btn btn-lg btn-light rounded-circle mb-4 mb-md-5" data-aos="zoom-in" data-aos-delay="400">
            <img src="assets/img/icons/interface/icon-media-play.svg" alt="Media Play Icon" class="icon icon-lg bg-dark pl-1" data-inject-svg>
          </a> -->
          <h1 class="display-3" data-aos="fade-up" data-aos-delay="100">Jumpstart your launch</h1>
          <p class="lead" data-aos="fade-up" data-aos-delay="200">
            Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
          </p>
          <div class="d-flex flex-column flex-sm-row justify-content-center mt-4 mt-md-5" data-aos="fade-up" data-aos-delay="300">
            <a href="#" class="btn btn-primary btn-lg mx-sm-2 my-1 my-sm-0">View Demos</a>
            <a href="#" class="btn btn-outline-light btn-lg mx-sm-2 my-1 my-sm-0">Purchase</a>
          </div>
        </div>
      </div>
    </div>
    <div class="divider divider-bottom bg-white"></div>
  </section>
</div>
<section class="bg-light o-hidden">
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3 class="display-4">Great Functionality</h3>
        <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="nav nav-pills lead mb-4 mb-md-5 justify-content-center" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Dark Mode</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Feed</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row align-items-center justify-content-between flex-lg-row-reverse">
                <div class="col-lg-6 col-xl-5 text-center text-lg-left mb-4 mb-md-5 mb-lg-0">
                  <div class="pl-lg-4 pr-xl-5" data-aos="fade-right">
                    <h3 class="h1">A great feature you'll <mark data-aos="highlight-text"
                                            data-aos-delay="250">love to use</mark></h3>
                    <p>
                      Ned ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                    </p>
                    <div class="mt-4">
                      <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 d-inline-flex text-left shadow-sm bg-white">
                        <img src="assets/img/avatars/male-4.jpg" alt="Harvey Derwent avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">
                        <div class="text-dark mb-0">&ldquo;We are working at almost twice the capacity&rdquo;</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-xl-7" data-aos="fade-left">
                  <img src="assets/img/desktop-app/desktop-app-3.jpg" alt="Screenshot" class="img-fluid rounded shadow border">
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row align-items-center justify-content-around">
                <div class="col-lg-6 col-xl-5 text-center text-lg-left mb-4 mb-md-5 mb-lg-0">
                  <div class="pr-lg-4 pr-xl-5" data-aos="fade-right">
                    <h3 class="h1">Easy on the eyes, and the wallet.</h3>
                    <p>
                      Ned ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                    </p>
                    <div class="mt-4">
                      <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 d-inline-flex text-left shadow-sm bg-white">
                        <img src="assets/img/avatars/male-1.jpg" alt="Harvey Derwent avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">
                        <div class="text-dark mb-0">&ldquo;Jumpstart increases productivity.&rdquo;</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-xl-7" data-aos="fade-left">
                  <img src="assets/img/desktop-app/desktop-app-1.jpg" alt="Screenshot" class="img-fluid rounded shadow border">
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <div class="row align-items-center justify-content-around">
                <div class="col-lg-6 col-xl-5 text-center text-lg-left mb-4 mb-md-5 mb-lg-0">
                  <div class="pr-lg-4 pr-xl-5" data-aos="fade-right">
                    <h3 class="h1">You’ll Stay right up to date, <mark data-aos="highlight-text"
                                            data-aos-delay="250">ever</mark>.</h3>
                    <p>
                      Ned ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                    </p>
                    <div class="mt-4">
                      <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 d-inline-flex text-left shadow-sm bg-white">
                        <img src="assets/img/avatars/female-4.jpg" alt="Ashley Mance avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">
                        <div class="text-dark mb-0">&ldquo;Jumpstart is a dream come true.&rdquo;</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-xl-7" data-aos="fade-left">
                  <img src="assets/img/desktop-app/desktop-app-2.jpg" alt="Screenshot" class="img-fluid rounded shadow border">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card card-body shadow-sm h-100">
          <div class="display-4 text-primary mb-3" data-countup data-start="" data-end="97" data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="%" data-easing=""></div>
          <div>Average satisfaction rating received in the past year</div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card card-body shadow-sm h-100">
          <div class="display-4 text-primary mb-3" data-countup data-start="20" data-end="24" data-duration="1" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="/7" data-easing="false"></div>
          <div>Our support experts are ready to assist anytime</div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card card-body shadow-sm h-100">
          <div class="display-4 text-primary mb-3" data-countup data-start="" data-end="142" data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="k+" data-easing=""></div>
          <div>App installs from the two major mobile app stores</div>
        </div>
      </div>

    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3 class="display-4">They <mark data-aos="highlight-text" data-aos-delay="300">Jumpstarted</mark> it</h3>
        <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-3 mb-md-4 mb-lg-0">
        <div class="card h-100 hover-box-shadow">
          <div class="d-block bg-gradient rounded-top position-relative">
            <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-2.jpg" alt="Image accompanying Circle testimonial">
            <div class="badge badge-light">
              <img src="assets/img/logos/brand/asgardia.svg" alt="Asgardia company logo" class="icon icon-sm m-lg-1">
            </div>
          </div>
          <div class="card-body">
            <h3>Asgardia</h3>
            <p>
              Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
            </p>
            <a href="#" class="stretched-link">Read Story</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3 mb-md-4 mb-lg-0">
        <div class="card h-100 hover-box-shadow">
          <div class="d-block bg-gradient rounded-top position-relative">
            <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-9.jpg" alt="Image accompanying Kanba testimonial">
            <div class="badge badge-light">
              <img src="assets/img/logos/brand/kanba.svg" alt="Kanba company logo" class="icon icon-sm m-lg-1">
            </div>
          </div>
          <div class="card-body">
            <h3>Kanba</h3>
            <p>
              Vel fringilla est ullamcorper eget. Eunuch pulvinar sapien et Loras ullamcorper Melisandre.
            </p>
            <a href="#" class="stretched-link">Read Story</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3 mb-md-4 mb-lg-0">
        <div class="card h-100 hover-box-shadow">
          <div class="d-block bg-gradient rounded-top position-relative">
            <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-5.jpg" alt="Image accompanying Treva testimonial">
            <div class="badge badge-light">
              <img src="assets/img/logos/brand/treva.svg" alt="Treva company logo" class="icon icon-sm m-lg-1">
            </div>
          </div>
          <div class="card-body">
            <h3>Treva</h3>
            <p>
              Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
            </p>
            <a href="#" class="stretched-link">Read Story</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3 class="display-4">Go there with Jumpstart</h3>
        <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-3 mb-lg-5">
        <div class="row align-items-center">
          <div class="col-sm-4 mb-3 mb-sm-0">
            <img src="assets/img/square-1.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col">
            <h4>Fully Responsive</h4>
            <p>Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.</p>
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3 mb-lg-5">
        <div class="row align-items-center">
          <div class="col-sm-4 mb-3 mb-sm-0">
            <img src="assets/img/square-2.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col">
            <h4>Multiple Layouts</h4>
            <p>Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.</p>
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3 mb-lg-5">
        <div class="row align-items-center">
          <div class="col-sm-4 mb-3 mb-sm-0">
            <img src="assets/img/square-3.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col">
            <h4>Modular Components</h4>
            <p>Vel fringilla est ullamcorper eget. Eunuch pulvinar sapien et Loras ullamcorper Melisandre.</p>
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3 mb-lg-5">
        <div class="row align-items-center">
          <div class="col-sm-4 mb-3 mb-sm-0">
            <img src="assets/img/square-4.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col">
            <h4>Suits Your Style</h4>
            <p>Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.</p>
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3 class="display-4">It worked for them</h3>
        <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
      </div>
    </div>
    <div class="row justify-content-center" data-aos="fade-up" data-aos-offset="250">
      <div class="col-xl-10 col-lg-11">
        <div class="buttons-attached" data-flickity='{ "imagesLoaded": true, "wrapAround":true, "pageDots":false }'>
          <div class="carousel-cell">
            <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
              <div class="position-relative bg-gradient col-lg-4">
                <img class="card-img-top h-100" src="assets/img/case-studies/thumb-2.jpg" alt="Image accompanying Circle testimonial">
                <div class="divider divider-side d-none d-lg-block"></div>
              </div>
              <div class="p-4 p-md-5 col-lg">
                <div class="p-lg-4">
                  <blockquote class="blockquote p-0 border-0 text-body">
            &ldquo;We had all sorts of problems around motivation and productivity from our smallest scrums to our largest teams. <mark data-aos="highlight-text" data-aos-delay="200">Jumpstart helped us rise above all and conquer.</mark>&rdquo;
        </blockquote>
                  <img class="opacity-50 mt-3 mt-md-4 mb-3" src="assets/img/logos/brand/asgardia.svg" alt="Asgardia company logo" data-inject-svg>
                  <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                    <h6 class="mb-0 mr-2">Harvey Derwent</h6>
                    <span>Resident Zen Master</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-cell">
            <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
              <div class="position-relative bg-gradient col-lg-4">
                <img class="card-img-top h-100" src="assets/img/case-studies/thumb-9.jpg" alt="Image accompanying Kanba testimonial">
                <div class="divider divider-side d-none d-lg-block"></div>
              </div>
              <div class="p-4 p-md-5 col-lg">
                <div class="p-lg-4">
                  <blockquote class="blockquote p-0 border-0 text-body">
            &ldquo;We all know the stigma around build times and the ever expanding arsenal of tooling in modern web apps. Fear not, Jumpstart does away with all of that.&rdquo;
        </blockquote>
                  <img class="opacity-50 mt-3 mt-md-4 mb-3" src="assets/img/logos/brand/kanba.svg" alt="Kanba company logo" data-inject-svg>
                  <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                    <h6 class="mb-0 mr-2">Shelley McNabb</h6>
                    <span>Software Engineer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-cell">
            <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
              <div class="position-relative bg-gradient col-lg-4">
                <img class="card-img-top h-100" src="assets/img/case-studies/thumb-5.jpg" alt="Image accompanying Treva testimonial">
                <div class="divider divider-side d-none d-lg-block"></div>
              </div>
              <div class="p-4 p-md-5 col-lg">
                <div class="p-lg-4">
                  <blockquote class="blockquote p-0 border-0 text-body">
            &ldquo;Product support comes first when we are considering a new service.  Do yourself a favour and choose Jumpstart, we have found the support to be second to none.&rdquo;
        </blockquote>
                  <img class="opacity-50 mt-3 mt-md-4 mb-3" src="assets/img/logos/brand/treva.svg" alt="Treva company logo" data-inject-svg>
                  <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                    <h6 class="mb-0 mr-2">Mary Goddard</h6>
                    <span>Business Relations</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3 class="display-4">Clients</h3>
        <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg" data-aos="fade-in">
        <div class="d-flex flex-wrap justify-content-center">
          <div class="m-2" data-aos="fade-up" data-aos-delay="100">
            <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
              <img src="assets/img/logos/customers/customer_1.png" alt="Monitor icon" class="icon mr-3">
              <h5 class="mb-0">African Barrick Gold</h5>
            </div>
          </div>
          <div class="m-2" data-aos="fade-up" data-aos-delay="200">
            <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
              <img src="assets/img/logos/customers/customer_2.png" alt="Sushi icon" class="icon mr-3 " >
              <h5 class="mb-0">Angloamerican</h5>
            </div>
          </div>
          <div class="m-2" data-aos="fade-up" data-aos-delay="300">
            <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
              <img src="assets/img/logos/customers/customer_3.png" alt="Compass icon" class="icon mr-3 " >
              <h5 class="mb-0">Broken Keyboards</h5>
            </div>
          </div>
          <div class="m-2" data-aos="fade-up" data-aos-delay="400">
            <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
              <img src="assets/img/logos/customers/customer_4.png" alt="Gamepad icon" class="icon mr-3 " >
              <h5 class="mb-0">Data Build</h5>
            </div>
          </div>
          <div class="m-2" data-aos="fade-up" data-aos-delay="500">
            <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
              <img src="assets/img/logos/customers/customer_5.png" alt="Increasing chart icon" class="icon mr-3 " >
              <h5 class="mb-0">ECS</h5>
            </div>
          </div>
          <div class="m-2" data-aos="fade-up" data-aos-delay="600">
            <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
              <img src="assets/img/logos/customers/customer_6.png" alt="Monitor icon" class="icon mr-3 " >
              <h5 class="mb-0">Exigo</h5>
            </div>
          </div>
          <div class="m-2" data-aos="fade-up" data-aos-delay="700">
            <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
              <img src="assets/img/logos/customers/customer_7.png" alt="Sushi icon" class="icon mr-3 " >
              <h5 class="mb-0">Ixio</h5>
            </div>
          </div>
          <div class="m-2" data-aos="fade-up" data-aos-delay="800">
            <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
              <img src="assets/img/logos/customers/customer_8.png" alt="Compass icon" class="icon mr-3 " >
              <h5 class="mb-0">Kantar</h5>
            </div>
          </div>
          <div class="m-2" data-aos="fade-up" data-aos-delay="900">
            <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
              <img src="assets/img/logos/customers/customer_9.png" alt="Gamepad icon" class="icon mr-3 " >
              <h5 class="mb-0">PCH</h5>
            </div>
          </div>
          <div class="m-2" data-aos="fade-up" data-aos-delay="1000">
            <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-light">
              <img src="assets/img/logos/customers/customer_10.png" alt="Increasing chart icon" class="icon mr-3 " >
              <h5 class="mb-0">Sms Web</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3 class="display-4">We glow all the way up</h3>
        <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-11">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row">
              <div class="col-sm-6 text-center mb-5">
                <div class="d-flex flex-column align-items-center">
                  <img src="assets/img/avatars/male-1.jpg" alt="Joshua Lapinsky profile image" class="avatar avatar-xl mb-4">
                  <h5 class="mb-2">Joshua Lapinsky</h5>
                  <div class="mb-3">Co-Founder & CEO</div>
                  <ul class="list-unstyled d-flex mb-0">
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 text-center mb-5">
                <div class="d-flex flex-column align-items-center">
                  <img src="assets/img/avatars/female-1.jpg" alt="Glenda Spence profile image" class="avatar avatar-xl mb-4">
                  <h5 class="mb-2">Glenda Spence</h5>
                  <div class="mb-3">Co-Founder</div>
                  <ul class="list-unstyled d-flex mb-0">
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 text-center mb-5">
                <div class="d-flex flex-column align-items-center">
                  <img src="assets/img/avatars/male-2.jpg" alt="Michael Trossino profile image" class="avatar avatar-xl mb-4">
                  <h5 class="mb-2">Michael Trossino</h5>
                  <div class="mb-3">Social Engineering</div>
                  <ul class="list-unstyled d-flex mb-0">
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 text-center mb-5">
                <div class="d-flex flex-column align-items-center">
                  <img src="assets/img/avatars/male-3.jpg" alt="Patrik Janssen profile image" class="avatar avatar-xl mb-4">
                  <h5 class="mb-2">Patrik Janssen</h5>
                  <div class="mb-3">Experience Designer</div>
                  <ul class="list-unstyled d-flex mb-0">
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 text-center mb-5">
                <div class="d-flex flex-column align-items-center">
                  <img src="assets/img/avatars/female-2.jpg" alt="Mirembe Nkrumah profile image" class="avatar avatar-xl mb-4">
                  <h5 class="mb-2">Mirembe Nkrumah</h5>
                  <div class="mb-3">Co-Founder & CFO</div>
                  <ul class="list-unstyled d-flex mb-0">
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 text-center mb-5">
                <div class="d-flex flex-column align-items-center">
                  <img src="assets/img/avatars/female-3.jpg" alt="Karina Messopine profile image" class="avatar avatar-xl mb-4">
                  <h5 class="mb-2">Karina Messopine</h5>
                  <div class="mb-3">Design Lead</div>
                  <ul class="list-unstyled d-flex mb-0">
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                    <li class="mx-2">
                      <a href="#" class="hover-fade-out">
                        <img src="assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3 mt-sm-4">
      <div class="col-auto">
        <div class="alert bg-secondary">We think you'll fit in here. <a href="#">Submit your r&eacute;sum&eacute;</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary-3 pb-0">
  <div class="container">
    <div class="text-white">
      <div class="row section-title justify-content-center text-center">
        <div class="col-md-9 col-lg-8 col-xl-7">
          <h3 class="display-4">Get a demo</h3>
          <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-7">
        <div class="card card-body shadow">
          <form data-form-email novalidate action="/forms/request-demo.php">
            <div class="form-group">
              <label for="demo-name">Your Name</label>
              <input id="demo-name" name="contact-name" type="text" class="form-control" placeholder="Type here" required>
              <div class="invalid-feedback">
                Please type your name.
              </div>
            </div>
            <div class="form-group">
              <label for="demo-email">Email Address</label>
              <input id="demo-email" name="contact-email" type="email" class="form-control" placeholder="you@yoursite.com" required>
              <div class="invalid-feedback">
                Please provide your email address.
              </div>
            </div>
            <div class="form-group">
              <label for="demo-company-size">Company Size</label>
              <div class="position-relative">
                <select class="custom-select" id="demo-company-size" required>
                  <option selected value="">Select an option</option>
                  <option value="1-50">1-50</option>
                  <option value="50-500">50-500</option>
                  <option value="500+">500+</option>
                </select>
                <img src="assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm">
                <div class="invalid-feedback">
                  Please provide your company size.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="demo-budget">Approximate Budget</label>
              <div class="position-relative">
                <select class="custom-select" id="demo-budget" required>
                  <option selected value="">Select an option</option>
                  <option value="Up to $10k">Up to $10k</option>
                  <option value="$10k - $50k">$10k - $50k</option>
                  <option value="Over $50k">Over $50k</option>
                </select>
                <img src="assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm">
                <div class="invalid-feedback">
                  Please provide your approximate budget.
                </div>
              </div>
            </div>
            <div class="d-none alert alert-success w-100 my-md-3" role="alert" data-success-message>
              Thanks, a member of our team will be in touch shortly.
            </div>
            <div class="d-none alert alert-danger w-100 my-md-3" role="alert" data-error-message>
              Please fill all fields correctly.
            </div>
            <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>
            <button class="btn btn-primary btn-block btn-loading" type="submit" data-loading-text="Requesting Demo">
              <!-- Icon for loading animation -->
              <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Icon For Loading</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g>
                    <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                  </g>
                  <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                  fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                </g>
              </svg>
              <span>Request Demo</span>
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

