---
layout: default
---
<div class="bg-primary-3 text-white p-0" data-overlay>
    <img src="{{"/assets/img/heros/hero-3.jpg" | relative_url}}" alt="Image" class="bg-image opacity-60">
    <section class="pb-0">
        <div class="container pb-5">
        <div class="row justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
            <h1 class="display-3">Research & Development</h1>
            <p class="lead mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
  
            </div>
        </div>
        </div>
        <div class="divider divider-bottom"></div>
    </section>
</div>
<section class="bg-light py-5">
    <div class="container">
        <div class="row">
        <div class="col">
            <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
            <a href="#" class="d-block position-relative bg-gradient col-xl-6 order-lg-2">
                <div class="divider divider-side transform-flip-y d-none d-lg-block"></div>
                <img class="card-img-top flex-fill hover-fade-out" src="assets/img/case-studies/thumb-1.jpg" alt="Image accompanying Amara testimonial">
                <div class="badge badge-light badge-pill">
                <img src="assets/img/logos/brand/aven.svg" alt="Aven company logo" class="icon icon-sm m-1 m-lg-2">
                </div>
            </a>
            <div class="p-4 p-md-5 col-xl">
                <div class="p-lg-4 p-xl-5">
                <h1>&ldquo;We are working at almost twice the capacity&rdquo;</h1>
                <p class="lead">
                    Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                </p>
                <a href="#" class="lead stretched-link">Read Story</a>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="row mt-3 mt-lg-5">
        <div class="col-lg-6 my-3 my-lg-0">
            <div class="row flex-column flex-sm-row align-items-center">
            <a class="col-sm-5 mb-4 mb-sm-0" href="#">
                <img class="rounded img-fluid hover-fade-out" src="assets/img/case-studies/thumb-2.jpg" alt="Image accompanying Circle testimonial">
            </a>
            <div class="col">
                <div class="mb-4">
                <img src="assets/img/logos/brand/asgardia.svg" alt="Asgardia company logo" class="icon icon-sm">
                </div>
                <div>
                <a class="h4" href="#">&ldquo;Jumpstart increases productivity.&rdquo;</a>
                </div>
            </div>
            </div>
        </div>
        <div class="col-lg-6 my-3 my-lg-0">
            <div class="row flex-column flex-sm-row align-items-center">
            <a class="col-sm-5 mb-4 mb-sm-0" href="#">
                <img class="rounded img-fluid hover-fade-out" src="assets/img/case-studies/thumb-9.jpg" alt="Image accompanying Kanba testimonial">
            </a>
            <div class="col">
                <div class="mb-4">
                <img src="assets/img/logos/brand/kanba.svg" alt="Kanba company logo" class="icon icon-sm">
                </div>
                <div>
                <a class="h4" href="#">&ldquo;Long build times are a thing of the past!&rdquo;</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <section class="pb-0">
    <div class="container">
        <div class="row">
        <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
            <div class="d-block bg-gradient rounded-top position-relative">
                <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-5.jpg" alt="Image accompanying Treva testimonial">
                <div class="badge badge-light">
                <img src="assets/img/logos/brand/treva.svg" alt="Treva company logo" class="icon icon-sm m-lg-1">
                </div>
            </div>
            <div class="card-body">
                <h3>Treva</h3>
                <p>
                Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
                </p>
                <a href="#" class="stretched-link">Read Story</a>
            </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
            <div class="d-block bg-gradient rounded-top position-relative">
                <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-6.jpg" alt="Image accompanying Ztos testimonial">
                <div class="badge badge-light">
                <img src="assets/img/logos/brand/ztos.svg" alt="Ztos company logo" class="icon icon-sm m-lg-1">
                </div>
            </div>
            <div class="card-body">
                <h3>Ztos</h3>
                <p>
                Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                </p>
                <a href="#" class="stretched-link">Read Story</a>
            </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
            <div class="d-block bg-gradient rounded-top position-relative">
                <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-7.jpg" alt="Image accompanying Utosia testimonial">
                <div class="badge badge-light">
                <img src="assets/img/logos/brand/utosia.svg" alt="Utosia company logo" class="icon icon-sm m-lg-1">
                </div>
            </div>
            <div class="card-body">
                <h3>Utosia</h3>
                <p>
                Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
                </p>
                <a href="#" class="stretched-link">Read Story</a>
            </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
            <div class="d-block bg-gradient rounded-top position-relative">
                <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-8.jpg" alt="Image accompanying Asgardia testimonial">
                <div class="badge badge-light">
                <img src="assets/img/logos/brand/ztos.svg" alt="Ztos company logo" class="icon icon-sm m-lg-1">
                </div>
            </div>
            <div class="card-body">
                <h3>Ztos</h3>
                <p>
                Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                </p>
                <a href="#" class="stretched-link">Read Story</a>
            </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
            <div class="d-block bg-gradient rounded-top position-relative">
                <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-3.jpg" alt="Image accompanying Kyan testimonial">
                <div class="badge badge-light">
                <img src="assets/img/logos/brand/kyan.svg" alt="Kyan company logo" class="icon icon-sm m-lg-1">
                </div>
            </div>
            <div class="card-body">
                <h3>Kyan</h3>
                <p>
                Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                </p>
                <a href="#" class="stretched-link">Read Story</a>
            </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
            <div class="d-block bg-gradient rounded-top position-relative">
                <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-10.jpg" alt="Image accompanying Fox Hub testimonial">
                <div class="badge badge-light">
                <img src="assets/img/logos/brand/goldline.svg" alt="Goldline company logo" class="icon icon-sm m-lg-1">
                </div>
            </div>
            <div class="card-body">
                <h3>Goldline</h3>
                <p>
                Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                </p>
                <a href="#" class="stretched-link">Read Story</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <section class="pb-0">
    <div class="container">
        <div class="row section-title justify-content-center text-center">
        <div class="col-md-9 col-lg-8 col-xl-7">
            <h3 class="display-4">Jumpstart your launch</h3>
            <div class="lead">Save hours on design and development and launch faster.</div>
        </div>
        </div>
        <div class="row justify-content-center text-center mt-md-n4">
        <div class="col-auto">
            <a href="#" class="btn btn-primary btn-lg">Buy Jumpstart</a>
        </div>
        </div>
    </div>
    <div class="divider divider-bottom bg-primary-3 mt-5"></div>
</section>